body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  position: relative;
}

#code_container {
  position: relative;
  width: 100%;
  height: 400;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#multiwindow {
  width: 100%;
  height: 100%;
}