# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/jvm/main/
/build/js/
/.idea/
**/build/*
*/build/*

yarn.lock

node_modules

**/dukats/*

# the exported binaries for ocgena js source code
ocgenajs

*.DS_Store

**/testing_output/